body {overflow: hidden;}
div { font-family: 'Ubuntu', sans-serif; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); width: 100%; text-align: center; } /* center text styling */
h1 { font-size: 5.5em; letter-spacing: -4px; font-weight: 700; color: #7e2ea0; display: inline-block; } /* h1 styling */
@media screen and (max-width: 488px) { h1 { font-size: 2.6em; letter-spacing: -2px; } } /* control h1 font size below 768px screen */

/* animation duration and fill mode */
.duration span{
  animation-duration: 1s;
  animation-fill-mode: both;
  display: inline-block;
}

/* letter dance out bottom animation declaration */
.leDanceOutBottom span { animation-name: leDanceOutBottom; transform-origin: bottom }

/* letter dance out bottom animation keyframes */
@keyframes leDanceOutBottom {
    16% { transform: skew(-14deg) }
    33% { transform: skew(12deg) }
    49% { transform: skew(-8deg) }
    66% { transform: skew(6deg) }
    83% { transform: skew(-4deg) }
    to { opacity: 0 }
}